<section class="d-flex flex-column h-100">
  <div class="d-flex py-3">
    <h1 class="text-uppercase m-0">
      {{ "skills" | translate }}
    </h1>
    <div class="mx-2">
      <input
        aria-label="Search skills"
        type="text"
        class="d-block w-100 search rounded"
        [(ngModel)]="searchskills"
      />
    </div>
  </div>
  <div class="row mx-0 h-100 overflow-auto">
    <div *ngFor="let skill of skills | search : searchskills" class="col-lg-4">
      <div class="text-center">
        <img src="{{ skill.url }}" alt="{{ skill.name }}" />
      </div>
      <div class="text-center">
        {{ skill.name | uppercase }}
      </div>
    </div>
  </div>
</section>
