@import './../../variables.scss';

section {
  margin-left: 130px;
}

input.search {
  padding: 4px;
  color: $dark-blue;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid $dark-blue;
  &:focus {
    box-shadow: 0 0 0 1px $dark-blue;
  }
}

.fixed-search {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  background: $white;
  box-shadow: 0 2px 2px -2px  $dark-blue;
}

@media (max-width: 576px) {
  section {
    margin-left: 50px;
  }
}
