<ul class="navigation">
  <li>
    <button
      type="button"
      class="navigation-list py-2 rounded text-uppercase"
      routerLink="profile"
      routerLinkActive="active"
    >
      <i class="fa fa-user-circle-o d-inline-flex mx-2"></i>
      <span class="d-none d-sm-inline-block">{{
        "about.aboutMe" | translate
      }}</span>
    </button>
  </li>

  <li>
    <button
      type="button"
      class="navigation-list py-2 rounded text-uppercase"
      routerLink="skills"
      routerLinkActive="active"
    >
      <i class="fa fa-cogs d-inline-flex mx-2"></i>
      <span class="d-none d-sm-inline-block">{{ "skills" | translate }}</span>
    </button>
  </li>

  <!-- <li>
    <button
      type="button"
      class="navigation-list py-2 rounded text-uppercase"
      routerLink="useful"
      routerLinkActive="active"
    >
      <i class="fa fa-map-signs d-inline-flex mx-2"></i>
      <span class="d-none d-sm-inline-block"> {{ "useful" | translate }}</span>
    </button>
  </li> -->
</ul>
