@import '../../variables.scss';

ul.navigation {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 160px;;

  li {
    list-style-type: none;
    position: relative;
    button.navigation-list {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      cursor: pointer;;
      background: transparent;
      border: 2px solid transparent;
      min-width: 130px;
      color: $dark-blue;

      &:focus {
        background-color: $dark-blue;
        i, span {
          color: $white;
        }
      }
      &.active {
        border: 2px solid $dark-blue;
      }
    }
   }

  .fa-user-circle-o,.fa-cogs, .fa-suitcase, .fa-envelope-o, .fa-map-signs, .fa-television {
    font-size: 20px;
    color: $dark-blue;
  }
}

@media (max-width: 576px) {
  ul.navigation li button.navigation-list {
    min-width: inherit;
  }
}
