<div class="navigation-cv">
  <ul>
    <li
      class="navigation-cv_list"
      routerLink="profile"
      routerLinkActive="active"
    >
      <i class="fa fa-user-circle-o"></i>
      <span class="nav-about_list-tooltip">
        {{ "about.aboutMe" | translate }}
      </span>
    </li>
    <li
      class="navigation-cv_list"
      routerLink="skills"
      routerLinkActive="active"
    >
      <i class="fa fa-cogs"></i>
      <span class="nav-about_list-tooltip">
        {{ "skills" | translate }}
      </span>
    </li>
    <li
      class="navigation-cv_list"
      routerLink="useful"
      routerLinkActive="active"
    >
      <i class="fa fa-map-signs"></i>
      <span class="nav-about_list-tooltip">
        {{ "useful" | translate }}
      </span>
    </li>
  </ul>
</div>
